﻿<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h2>Получатель сообщений B</h2>
        <p>Номер сообщения обозначает порядковый номер сообщения в текущей сессии для отправителя</p>
        <p>После перезапуска отправителя номер обнуляется</p>
        <br />
        <h3>Сообщения:</h3>
        <p readonly cols="100" rows="36" type="text" id="textField"></p>
    </body>
</html>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: "/MessageReceiving/GetAll",
                method: "GET",
                success: function (data) {
                    textField.innerHTML = data;
                }
            });
        }, 2000);
    });
</script>
