﻿@using PublisherA.Models.Requests
@using PublisherA.Models.Enums
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <h1>Отправитель сообщений</h1>
            <p>Введите сообщение:</p>
            <input id="mess" name="message" type="text" />
            <select id="resive" name="resiver" type="@typeof(MessageRecivers)">
                Получатель:
                <option value="@MessageRecivers.All">Все</option>
                <option value="@MessageRecivers.B">Только B</option>
                <option value="@MessageRecivers.C">Только С</option>
            </select>
            <p><button class="btn-primary">Отправить</button></p>

    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $(".btn-primary").click(function () {
            var message = mess.value;
            var resiver = resive.value;

            mess.value = "";
            resive.value = resive.options[0].value;

            var request = { "Message": message, "Reciver": resiver };

            $.ajax({
                url: "/Messages/Send",
                method: "POST",
                data: { sendRequest: request },
                success: function () {
                    alert("Я отправил сообщение: " + request);
                },
                error: function (data) {
                    alert("Я упал" + data.responseText)
                }
            });
        });
    });

</script>
